body{
    background: url("http://img04.deviantart.net/7863/i/2015/106/e/f/star_wars_7_wallpaper_trailer_2_by_ismaelart-d8pxlal.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main-img{width: 300px;
    height: 200px ;
    opacity: .75;

}
#rules{border-width: 5px;
    color:red;
    border-style: double;
    background-color: black
    
}
/* #num{
    color: red;
    border: red;
    border-width: 5px;
    border-style: outset;
    border-style: inset;
    background-color: black;
} */
#num{ 
    color:black;
}

#counter1{
width: 100px;
}
#counter2{
    width: 100px;
    }
#counter3{
    height: 100px;
        width: 100px;
        }
#top-gun{width: 300px;
    height: 200px ;
    opacity: .75;

}
h1,h2{
    text-align:center;
  }
  h1{
    color:rgba(100, 50, 255, .8);
  }
  .rainbow {
     /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 1s infinite; 
    
    /* Internet Explorer */
    -ms-animation: rainbow 1s infinite;
    
    /* Standar Syntax */
    animation: rainbow 1s infinite; 
  }
  
  /* Chrome, Safari, Opera */
  @-webkit-keyframes rainbow{
      20%{color: red;}
      40%{color: yellow;}
      60%{color: green;}
      80%{color: blue;}
      100%{color: orange;}	
  }


  