body{
    background: url("https://img00.deviantart.net/5b04/i/2016/138/1/3/crystal_mine_by_tacosauceninja-da2xyrf.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main-img{width: 300px;
    height: 200px ;
    opacity: .75;

}
#rules{border-width: 5px;
    color:red;
    border-style: double;
    background-color: black
    
}
/* #num{
    color: red;
    border: red;
    border-width: 5px;
    border-style: outset;
    border-style: inset;
    background-color: black;
} */
#num{ 
    color: whitesmoke;
}

#counter1{
width: 100px;
}
#counter2{
    width: 100px;
    }
#counter3{
    height: 100px;
        width: 100px;
        }
#top-gun{width: 300px;
    height: 200px ;
    

}

  
  #header {
     color: red;
  }

  #wins{
      color: whitesmoke;
  }
  #losses{
      color: whitesmoke;
  }
  #score{
      color: whitesmoke;
  }
  
  @media only screen and (min-width: 460px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}